# Database Configuration
DB_URL=jdbc:sqlserver://127.0.0.1:1433;databaseName=HotelDB;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=86400000

# VNPay Configuration
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# Mail Configuration
MAIL_USERNAME=
MAIL_PASSWORD=